* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica";
  font-size: 14px;
  font-weight: 300;
}

body {
  background: #111;
}

canvas {
  position: absolute;
  transform: translateZ(0);
}

.box {
  position: fixed;
  color: #fff;
  opacity: 0.9;
}

.box a {
  color: #fff;
}

 /* Estilos del overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1; /* Overlay over elements */
}

/* Estilos del popup */
.popup {
  display: none;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 2; /* Popup above overlay */
}

.popup-content {
  position: absolute;
  width: 15vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 1vw;
  border-radius: 5px;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
}

#login-header {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}

#login-container {
  position: relative;
  text-align: center;
  top: 25%;
}

.login-popup-button{
  font-size: medium;
  font-weight: bold;
  width: 4vw;
	height: 2vw;
}

#loginButton {
	border-radius: 0.7vw;
	color: black;
	width: 4vw;
	height: 2vw;
}

#freesound-logo {
  width: 100%;
  height: 100%;
}

#loginButton:hover {
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 3px solid #00d7c3;
}

#sound_info_content {
	flex-basis: 50%;
}

.switch-button {
  display: none;
  border: 2px solid white;
  border-radius: 50%;
}

.switch-button:hover,
.switch-button:focus {
  box-shadow: 0 0 10px rgb(255, 166, 0);
    transform: translateY(-0.25em);
}

#waveform-content {
	display: flex;
	align-items: center;
	justify-content: center;
}

#waveform-generated {
	position: absolute;
	top: -5vw;
	background: black;
	border-radius: 0.7vw;
	display: none;
}

.spectrogram {
    top: -19vw;
    left: 10%;
    width: 120%;
    transform: scaleY(-1);
}

.waveform-style {
	width: 15vw;
    height: 4.5vw;
}

#source_type_query_box {
  right: 20px;
  top: 400px;
}

#instructions_box {
  right: 1vw;
  bottom: 1vw;
  text-align: right;
  pointer-events: none;
}

#x_axis_box {
  width: 100%;
  bottom: 20px;
  text-align: center;
  font-size: 22px;
  pointer-events: none;
}

#y_axis_box {
  height: 100%;
  left: 20px;
  writing-mode: vertical-rl;
  text-align: center;
  font-size: 22px;
  pointer-events: none;
}

#sound_info_box {
	left: 1vw;
	flex-wrap: wrap; 
  bottom: 0.2vw;
  text-align: left;
  width: 30vw;
	display: flex;
}

#logo_box {
  top: 20px;
  left: 20px;
  width: 200px;
  pointer-events: none;
  font-weight: bold;
  font-size: 30px;
}

/* Menu hamburguesa */
#menu-user-container {
	display: flex;
	height: 2.5vw;
}

#user-column {
	flex-basis: 50%;
}

#menu-column {
	flex-basis: 30%;
}

#query_box {
  right: 1%;
  top: 2%;
  width: 15%;
}

.menu-container {
  position: absolute;
  display: inline-block;
  right: 5px;
}

.menu-button {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border-radius: 5px;
}

.menu-bar {
  display: block;
  width: 20px;
  height: 2px;
  margin: 6px auto;
  background-color: #fff;
  border-radius: 5px;
}

.menu-options {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  right: 0;
  visibility: hidden;
  background-color: #333;
  z-index: 1;
}

.menu-options li {
  margin: 0;
}

.menu-options a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.menu-options a:hover {
  background-color: #444;
}

.username-style {
	display: none;
}

/* Boton pedir sonidos a Freesound */
.request-sounds-button {
  margin-top: 15px;
  background-color: transparent;
  border: 3px solid #bacbd4;
  border-radius: 30px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #bacbd4;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.request-sounds-button:hover:enabled {
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 3px solid #00d7c3;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  color: #666666;
}
/* Boton pedir sonidos a Freesound FIN */

/* Sound duration range */
#query_terms_input {
  width: 150px;
  padding: 7px;
  border-radius: 5px;
  border: 0px;
  height: 30px;
}

#query_min_time_input {
  margin-top: 10px;
  width: 60px;
  padding: 7px;
  border-radius: 5px;
  border: 0px;
  height: 30px;
}

#query_max_time_input {
  margin-top: 10px;
  width: 60px;
  padding: 7px;
  border-radius: 5px;
  border: 0px;
  height: 30px;
}

.error {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
  margin: 10px;
  color: #ba3939;
  border-radius: 20px;
  width: 60%;
  margin-top: 10px;
  margin-left: inherit;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
  display: none;
}
/* Sound duration range FIN */

/* Menu hamburguesa FIN */

.axis {
  margin-top: 5%;
}

#x_axis_map_descriptors_selector {
  margin-top: 3px;
  height: 30px;
  width: 60%;
  padding-left: 4px;
  border-radius: 5px;
  border: 0px;
}

#y_axis_map_descriptors_selector {
  margin-top: 3px;
  height: 30px;
  width: 60%;
  padding-left: 4px;
  border-radius: 5px;
  border: 0px;
}

#source_selector {
  margin-top: 3px;
  height: 30px;
  width: 277px;
  padding-left: 4px;
  border-radius: 5px;
  border: 0px;
}

#reverb_selector {
  margin-top: 3px;
  height: 30px;
  width: 277px;
  padding-left: 4px;
  border-radius: 5px;
  border: 0px;
}

/* Caja para contener los logs */
#info_placeholder {
  position: fixed;
  bottom: 15%;
  height: 5vw;
  width: 22vw;
  right: 1vw;
  overflow-y: scroll;
  line-height: 200%;
  border: 2px solid #00d7c3;
  border-radius: 10px;
}

#info_placeholder div {
  margin-left: 1vw;
}

#info_placeholder::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

#info_placeholder::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}

#info_placeholder::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}
/* Caja para contener los logs FIN */

#source_placeholder {
  height: 30px;
  line-height: 30px;
}

.query-form > select {
  display: block;
}

.source_query-form > select {
  display: block;
}

.sound_image {
  margin-bottom: 15px;
  border-radius: 5px;
}

br {
  display: block;
  margin: 5px 0;
}

.canvasProgress {
  top: 10%;
  /* display: block; */
}

/* Tutorial Popup */
.tutorial-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.tutorial-popup-content {
  background-color: white;
  padding: 5vw;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.tutorial-popup-content h2 {
  font-size: 2vw;
  font-weight: bold;
  margin-bottom: 2vw;
  text-align: center;
}

.tutorial-popup-text {
  margin-bottom: 10%;
  font-size: 1vw !important;
}

.tutorial-button {
  background-color: #4CAF50;
  color: white;
  padding: 1vw;
  border: none;
  border-radius: 5%;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.tutorial-button:hover {
  background-color: #45a049;
}
/* Tutorial Popup FIN */